.filter-picker-icon {
    color: #212121;
    font-size: 12px;
    padding: 2px;
}

.filter-picker {
    position: absolute;
}

.filter-picker-content {
    z-index: 200;
    border: 1px solid #bdbdbd;
    padding: 2px;
    background: #fff;
    border-radius: 1px;
}

.filter-picker:hover {display: block;}

.filter-picker:hover .filter-picker-content {display: block;}

.item-tail-parent {
    float: right;
    font-size: 12px;
    margin-right: 2px;
    cursor: pointer;
    color: #424242;
}

.item-tail-icon {
    font-size: 9px;
    margin-right: 2px;
}