.description-short-wrapper {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

#description-short-image {
    height: 200px;
}

#description-short-text {
    margin: 18px;
    width: 400px;
}

#description-show-more-less {
    padding: 8px;
    margin-top: 4px;
}
