// chart colors.

// Value Distribution
$chart-vd: #ffb727;
$chart-vd-light: #fff7e6;

// Frequent Values
$chart-fv: #e57373;
$chart-fv-med: #ffa3a3;
$chart-fv-light: #fdf2f2;

// Replicates
$chart-r: #0277bb;
$chart-r-light: #bde7fe;

// N-Grams
$chart-ng: #ff9100;
$chart-ng-med: #f7c078;
$chart-ng-light: #ffe9cc;

// Leading Digit Frequency
$chart-ldf: #4eb7ac;
$chart-ldf-med: #93ece3;
$chart-ldf-light: #def2f0;

// Decimal Places
$chart-dc: #ac53af;
$chart-dc-med: #b685b8;
$chart-dc-light: #c2acc4;

$primary-light: #b3b9c0;
$button-hover-light: #e0e7f0;
