// 1. Include functions first (so you can manipulate colors, SVGs, calc, etc)
@import '../../node_modules/bootstrap/scss/functions';

// 2. Include any default variable overrides here
$primary: #666666;
$line-height-base: 1.2;

// 3. Include remainder of required Bootstrap stylesheets
@import '../../node_modules/bootstrap/scss/variables';
@import '../../node_modules/bootstrap/scss/mixins';
@import '../../node_modules/bootstrap/scss/root';

// 4. Include any optional Bootstrap CSS as needed
// Layout & components
@import '../../node_modules/bootstrap/scss/reboot';
// @import '../../node_modules/bootstrap/scss/type';
// @import '../../node_modules/bootstrap/scss/images';
@import '../../node_modules/bootstrap/scss/containers';
@import '../../node_modules/bootstrap/scss/grid';
@import '../../node_modules/bootstrap/scss/tables';
@import '../../node_modules/bootstrap/scss/forms';
@import '../../node_modules/bootstrap/scss/buttons';
@import '../../node_modules/bootstrap/scss/transitions';
// @import '../../node_modules/bootstrap/scss/dropdown';
@import '../../node_modules/bootstrap/scss/button-group';
// @import '../../node_modules/bootstrap/scss/nav';
// @import '../../node_modules/bootstrap/scss/navbar';
// @import '../../node_modules/bootstrap/scss/card';
// @import '../../node_modules/bootstrap/scss/accordion';
// @import '../../node_modules/bootstrap/scss/breadcrumb';
// @import '../../node_modules/bootstrap/scss/pagination';
// @import '../../node_modules/bootstrap/scss/badge';
// @import '../../node_modules/bootstrap/scss/alert';
// @import '../../node_modules/bootstrap/scss/progress';
// @import '../../node_modules/bootstrap/scss/list-group';
// @import '../../node_modules/bootstrap/scss/close';
// @import '../../node_modules/bootstrap/scss/toasts';
// @import '../../node_modules/bootstrap/scss/modal';
// @import '../../node_modules/bootstrap/scss/tooltip';
// @import '../../node_modules/bootstrap/scss/popover';
// @import '../../node_modules/bootstrap/scss/carousel';
// @import '../../node_modules/bootstrap/scss/spinners';
// @import '../../node_modules/bootstrap/scss/offcanvas';
// @import '../../node_modules/bootstrap/scss/placeholders';

// Helpers
// @import '../../node_modules/bootstrap/scss/helpers';

// Utilities
@import '../../node_modules/bootstrap/scss/utilities';
@import '../../node_modules/bootstrap/scss/utilities/api';

// My variables
// chart colors.

// Value Distribution
$chart-vd: #ffb727;
$chart-vd-light: #fff7e6;

// Frequent Values
$chart-fv: #e57373;
$chart-fv-med: #ffa3a3;
$chart-fv-light: #fdf2f2;

// Replicates
$chart-r: #0277bb;
$chart-r-light: #bde7fe;

// N-Grams
$chart-ng: #ff9100;
$chart-ng-med: #f7c078;
$chart-ng-light: #ffe9cc;

// Leading Digit Frequency
$chart-ldf: #4eb7ac;
$chart-ldf-med: #93ece3;
$chart-ldf-light: #def2f0;

$primary-light: #c5c5c5;
