* {
    margin: 0px;
    padding: 0px;
}

.uploadOnlyContainerOuter {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.customButton {
    border: solid #212121 1px;
    margin: 2px;
    flex-basis: 146px;
    text-align: center;
    cursor: pointer;
    border-radius: 3px;
    font-size: 12pt;
    user-select: none;
    padding: 5px;
    font-family: 'Josefin Sans', sans-serif;
}


.big .customButton {
    border-style: dashed;
    padding: 200px;
    font-size: 32pt;

}

.customButton:active, .selected {
    background: #212121;
    color: white;
}

.customButtonIcon {
    padding-right: 6px;
}

.customButtonSubIcon {
    padding-right: 6px;
    color: #212121;
    font-size: 10px;
}

.customButtonIconRight {
    padding-left: 40px;
    color: #4db6ac;
}

.buttonContainer {
    display: flex;
}

.buttonContainer.big {
    flex-direction: row;
    justify-content: center;
}

.filterContainer {
    transition: 0.5s;
    margin-left: 0px;
}

.dropdown-item {
    padding: 4px;
    cursor: pointer;
    border-bottom: 1px solid #eeeeee;
}

.data-div {
    margin-right: 5px;
    padding: 2px 5px 2px 5px;
    border-radius: 2px;
    font-size: 9pt;
    font-family: 'Josefin Sans', sans-serif;
}

.description {
    margin-top: 5px;
    padding: 5px;
    font-family: 'Josefin Sans', sans-serif;
    border: 1px solid #eeeeee;
}

.des-header {
    font-size: 12pt;
    color: #212121 !important;
}

.des-define, .des-use, .des-caveat {
    font-size: 11pt;
    margin-top: 3px;
    margin-bottom: 3px;
    color: #757575;
}
