.controlsContainer {
    position: absolute;
    height: 100%;
    width: 0px;
    /* position: fixed; */
    z-index: 1;
    /* top: 50; */
    left: 0;
    border: 1px solid #d0d0d0;  
    overflow-x: hidden;
    transition: 0.5s;
    background: #fff;
    margin-top: 5px;
    margin-left: 4px;
    padding-top: 10px;
}


.group-header {
    text-transform: uppercase;
    font-size: 12px;
    margin-top: 10px;
    margin-bottom: 10px;
    color: #757575;
    font-family: 'Josefin Sans', sans-serif;
}

.group-sub-header {
    font-size: 12px;
    margin-top: 10px;
    color: #212121;
    font-family: 'Josefin Sans', sans-serif;
}

.item-group {
    padding-left: 10px;
    margin-bottom: 20px;
}

.item-group:nth-child(2) {
    margin-top: 0px !important;
}

.item {
    margin-top: 10px;
    width: 200px;
    padding: 1px;
    border-radius: 3px;
    font-size: 14px;
    font-family: 'Josefin Sans', sans-serif;
    display: flex;
    align-items: center;
    cursor: pointer;
    user-select: none;
}

.item-options {
    margin-top: 5px;
    display: none;
}

.show .item-options {
    display: block;
}

.controlsHr {
    margin-left: 10px;
    border: 1px solid #eeeeee;
}

.controlsLabel {
    font-size: 14px;
    color: #757575;
    font-family: 'Josefin Sans', sans-serif;
}

.customButtonEyeIcon {
    padding: 4px;
    cursor: pointer;
    margin-right: 2px;
    border-radius: 3px;   
    border: solid #eeeeee 2px;
}

.customButtonEyeIcon.yellow {
    background-color: #ffb726;
    border-color: #ffb726;
}
.customButtonEyeIcon.pink {
    background-color: #e57373;
    border-color: #e57373;
}
.customButtonEyeIcon.blue {
    background-color: #4db6ac;
    border-color: #4db6ac;
}
.customButtonEyeIcon.orange {
    background-color: #ff8f00;
    border-color: #ff8f00;
}
.customButtonEyeIcon.sea-blue {
    background-color: #0277BD;
    border-color: #0277BD;
}

.customButtonEyeIcon.hidden {
    background-color: #eeeeee !important;
    border-color: #eeeeee !important;
}

.customButtonEyeIcon:hover {
    border-color: grey;
}

.customButtonEyeIcon.hidden:hover {
    border-color: grey !important;
}

.item.yellow {
    border: 1px solid hsl(40, 100%, 57%);
}
.item.yellow:hover {
    background-color: hsl(40, 100%, 95%);
}
.item.pink {
    border: 1px solid hsl(0, 69%, 67%);
}
.item.pink:hover {
    background-color: hsl(0, 69%, 97%);
}
.item.blue {
    border: 1px solid hsl(174, 42%, 51%);
}
.item.blue:hover {
    background-color: hsl(174, 42%, 91%);
}
.item.orange {
    border: 1px solid hsl(34, 100%, 50%);
}
.item.orange:hover {
    background-color: hsl(34, 100%, 90%);
}
.item.sea-blue {
    border: 1px solid hsl(202, 98%, 37%);
}
.item.sea-blue:hover {
    background-color: hsl(202, 98%, 87%);
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #fff;
    min-width: 180px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content a:hover {background-color: #ddd}

.show {display:block;}


.current-index {
    background: #272727;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    margin: 6px;
    border: solid black 1px;
}

.current-index.disable {
    background: #eeeeee;
}

.hide {
    visibility: hidden;
}