.dataTable
{
    white-space: nowrap;
    border-collapse: collapse;
}

.tableContainer {
    transition: 0.5s;
    margin-left: 0px;
}

.vizCell
{
    white-space: break-spaces;
    border-top: solid #d0d0d0 1px;
    border-bottom: solid #d0d0d0 1px;
}

td {
    border-left: solid #d0d0d0 1px;
    padding-right: 4px;
    padding-left: 4px;
}

@keyframes highlightEffect {
    from {background-color: #ffffff;}
    to {background-color: #eeeeee;}
}

.highlighted {
    background-color: #eeeeee;
    animation-name: highlightEffect;
    animation-duration: 3s;
}

