.dataTable
{   
    margin-top: 20px;
    white-space: nowrap;
    border-collapse: collapse;
}

th {
    padding-top: 12px;
    padding-bottom: 12px;
    color: #212121;
    border-left: solid #d0d0d0 1px;
    border-top: solid #d0d0d0 1px;
    font-family: 'Josefin Sans', sans-serif;
}

.tableContainer {
    transition: 0.5s;
    margin-left: 0px;
}

.columnType {
    font-size: 10px;
    color: #757575;
}

.columnHidden {
    visibility:hidden;
}

.vizCell
{
    white-space: break-spaces;
    border-top: solid #d0d0d0 1px;
    height: 99px;
    transition: 0.5s;
}

.chartHidden
{
    height: 0px !important;
    animation-name: heightEffect;
    animation-duration: 1s;
    overflow: hidden;
}

.chartDiv 
{
    height: 100px;
    overflow: scroll;
}

td 
{
    border-left: solid #d0d0d0 1px;
    padding-right: 4px;
    border-top: solid #d0d0d0 1px;
    padding-left: 4px;
}

@keyframes heightEffect {
    from {height: 100px;}
    to {height: 0px;}
}

@keyframes highlightEffect {
    from {background-color: #ffffff;}
    to {background-color: #eeeeee;}
}

.highlighted {
    background-color: #eeeeee;
    animation-name: highlightEffect;
    animation-duration: 3s;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.scrollbar::-webkit-scrollbar {
    display: none;
  }
  
  /* Hide scrollbar for IE, Edge and Firefox */
.scrollbar {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}
